/* reset all childen */
.pps-widget * ,
.pps-widget ::before ,
.pps-widget ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* userful variables */
:root {
  --widgetMinWidth: 300px;
  --widgetMaxWidth: 1028px;

  --widgetDefaultWidth: 100;
  --widgetDefaultHeight: 600px;

  --widgetDefaultBoxShadow: 0px 0px 10px #abc;

  --topFrameDefaultHeight: 75%;

  --panelPeopleBgcolor: #eef;
  --panelProjectBgcolor: #fee;
  --panelTechstackBgcolor: #efe;

  --columnPeopleWidth: 23%;
  --cardPeopleHeight: 160px;
  --cardPeopleMargin: 8px 4px 8px;
  --cardPeopleColorDefault: #fff;
  --cardPeopleColorHover: #dff;
  --cardPeopleColorActive: #def;
  --cardLabelPeopleColor: #060;
  --cardPeopleTransition: all 500ms;

  --columnProjectWidth: 23%;
  --cardProjectHeight: 80px;
  --cardProjectMargin: 8px 4px 8px;
  --cardProjectColorDefault: #fff;
  --cardProjectColorHover: #dff;
  --cardProjectColorActive: #def;
  --cardLabelProjectColor: #060;
  --cardProjectTransition: all 500ms;

  --columnTechstackWidth: 46%;
  --cardTechstackHeight: 50px;
  --cardTechstackMargin: 8px 4px 4px;
  --cardTechstackColorDefault: #fff;
  --cardTechstackColorHover: #dff;
  --cardTechstackColorActive: #def;
  --cardLabelTechstackColor: #060;
  --cardTechstackTransition: all 500ms;
}

.pps-widget {
  margin: 30px auto;
  padding: 0px;
  display: flex;
  flex-flow: column;
  width: var(--widgetDefaultWidth);
  height: var(--widgetDefaultHeight);
  min-width: var(--widgetMinWidth);
  max-width: var(--widgetMaxWidth);
  box-shadow: var(--widgetDefaultBoxShadow);;

  & .top {
    height: var(--topFrameDefaultHeight);
    display: flex;
    flex-flow: row;
  }

  & .bottom {
    flex: 1;
    margin-top: 0px;
  }

  & .people {
    background-color: var(--panelPeopleBgcolor);
    width: 70%;
    height: 100%;
    padding: 10px;

    & fieldset {
      text-align: left;
      border: none;
      border-top: solid 1px #aaa;

      & legend{
        padding-right: 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
      }
    }

    & .grid {
      display: flex;
      flex-flow: row wrap;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;
      align-items: stretch;
      overflow: hidden;

      & .card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: var(--cardPeopleMargin);
        height: var(--cardPeopleHeight);
        width: var(--columnPeopleWidth);
        background: var(--cardPeopleColorDefault) none no-repeat center center;
        transition: var(--cardPeopleTransition);

        & label {
          color: var(--cardLabelPeopleColor);
        }

        &:hover{
          background-color: var(--cardPeopleColorHover);
        }
        &:active{
          background-color: var(--cardPeopleColorActive);
        }
      }
    }
  }

  & .techstack {
    background-color: var(--panelTechstackBgcolor);
    width: 30%;
    height: 100%;
    padding: 10px;

    & fieldset {
      text-align: left;
      border: none;
      border-top: solid 1px #aaa;

      & legend{
        padding-right: 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
      }
    }

    & .grid {
      display: flex;
      flex-flow: row wrap;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;

      & .card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: var(--cardTechstackMargin);
        height: var(--cardTechstackHeight);
        width: var(--columnTechstackWidth);
        background: var(--cardTechstackColorDefault) none no-repeat center center;
        transition: var(--cardTechstackTransition);

        & label {
          color: var(--cardLabelTechstackColor);
        }

        &:hover{
          background-color: var(--cardTechstackColorHover);
        }
        &:active{
          background-color: var(--cardTechstackColorActive);
        }
      }
    }
  }

  & .project {
    background-color: var(--panelProjectBgcolor);
    width: 100%;
    height: 100%;
        padding: 10px;

    & fieldset {
      text-align: left;
      border: none;
      border-top: solid 1px #aaa;

      & legend{
        padding-right: 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
      }
    }

    & .grid {
      display: flex;
      flex-flow: row wrap;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: flex-start;

      & .card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: var(--cardProjectMargin);
        height: var(--cardProjectHeight);
        width: var(--columnProjectWidth);
        background: var(--cardProjectColorDefault) none no-repeat center center;
        transition: var(--cardProjectTransition);

        & label {
          color: var(--cardLabelProjectColor);
        }

        &:hover{
          background-color: var(--cardProjectColorHover);
        }
        &:active{
          background-color: var(--cardProjectColorActive);
        }
      }
    }
  }
}